@import "../../partials/typography";
@import "../../partials/mixins";
@import "../../partials/partials";
@import "../../App";

body {
  background: linear-gradient(
    to bottom,
    #e1f1f5 0%,
    #cddee3 20%,
    #a6bac0 40%,
    #9cb1b8 60%,
    #a6bac0 80%,
    #e1f1f5 100%
  );
  background-size: 100%;
  animation: bg 10s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  padding: 1rem;
  color: $graphite;
  letter-spacing: 2px;
}

h2 {
  text-align: center;
  z-index: 1;
  font-family: "Mungil";
}

.home {
  display: flex;
  z-index: -9;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $offwhite;
  min-height: 40rem;
  height: 80vh;
  min-width: 40rem;
  width: 80vw;
  border-radius: 2rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  &__graphic {
    position: relative;
  }
  &__logo {
    max-width: 50vw;
    z-index: 999;
  }
  &__icon {
    position: absolute;
    top: -16rem;
    left: -24rem;
    opacity: 0.6;
    height: 18rem;
    z-index: 0;
    -webkit-animation: logoanimation1 4000ms linear both;
    animation: logoanimation1 4000ms linear both;
  }
  &__icon2 {
    position: absolute;
    bottom: -7rem;
    right: -21rem;
    opacity: 0.5;
    height: 8rem;
    z-index: 0;
    -webkit-animation: logoanimation2 4000ms linear both;
    animation: logoanimation2 4000ms linear both;
  }
  &__button-container {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  &__canvas {
    padding: 1rem 2.5rem;
    max-width: 30vw;
    font-size: 2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: $darkseagreen;
    color: $blight;
    border: none;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    &:hover {
      color: $darkseagreen;
      background-color: $lightestseagreen;
    }
    &:active {
      transform: scale(0.95);
    }
  }
  &__about {
    padding: 0.75rem;
    width: 15vw;
    font-size: 2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: $lightseagreen;
    color: $offwhite;
    border: none;
    border-radius: 1rem;
    margin: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    &:hover {
      color: $blight;
      background-color: $darkseagreen;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}
