@import "variables.css";

@keyframes highlight-in {
  from {
    clip-path: inset(0 100% 0 0 round 4px);
  }
  to {
    clip-path: inset(0 0% 0 0 round 4px);
  }
}


@keyframes slide-in-fwd-left {
  0% {
    transform: translate3d(-1000px, 0, -1400px) rotate(0deg);
    opacity: 0;
  }
  70% {
    transform: translate3d(-50px, 0, -100px) rotate(2.5deg);
    opacity: 0.95;
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(3deg);
    opacity: 1;
  }
}


