@import "../../partials/typography";
@import "../../partials/mixins";
@import "../../partials/partials";
@import "../../App.scss";

body {
  background: linear-gradient(
    360deg,
    #e0ddea,
    #e0dfec,
    #dfe0ed,
    #dfe2ee,
    #dfe3f0,
    #dfe5f1,
    #dfe7f2,
    #dfe8f2,
    #dfeaf3,
    #e0ebf4,
    #e0edf4,
    #e1eef5
  );
  display: flex;
  height: 100vh;
}

h1 {
  padding: 1rem 3rem;
  color: $graphite;
  letter-spacing: 2px;
}
li {
  list-style-type: none;
}

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $offwhite;
  height: 80vh;
  width: 80vw;
  margin-top: 10vh;
  border-radius: 2rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

  & h3 {
    margin: 1rem 3rem;
  }
  &__text {
    margin: 1rem 4rem;
  }
}
// ----- key list  -----
.key {
  height: 20rem;
  margin: 1rem 4rem;
  &__ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 22rem;
  }
  &__li {
    display: flex;
    align-items: center;
    padding: 0.5rem;
  }
  & p {
    padding-left: 0.5rem;
  }
}

// ----- nav bar -----
.about-nav {
  &__link {
    text-decoration: none;
    font-size: 2rem;
    display: inline-flex;
    align-items: center;
    &--canvas {
      position: absolute;
      bottom: 1rem;
      left: 1rem;
    }
    &--home {
      position: absolute;
      bottom: 1rem;
      right: 1rem;
    }
  }
  &__icon {
    max-width: 3rem;
    margin: 0.5rem;
    padding-right: 1rem;
    &:hover {
      animation: bounce 1.5s infinite;
    }
  }
}
