@import "../../styles/variables.css";
@import "../../styles/animations.css";

h4 {
  font-size: 2rem;
  line-height: 1.8rem;
}

p {
  margin-top: 1rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
}

.about-page {
  margin: 6rem 2rem 0 2rem;
}

.about-nav {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.about-nav button {
  width: 3rem;
  height: 3rem;
  font-size: 0;
  padding: 0;
  margin: 0;
  transition: all 0.2s ease;
  cursor: pointer;
}

.about-nav__icon {
  width: 1.5rem;
}

.about-details {
  margin: 1rem 0;
  padding: 1.5rem;
}

.credits-container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.credits li {
  display: inline-block;
  padding: 10px 20px;
  background: var(--text-inverse);
  min-width: 300px;
  font-family: "Permanent Marker";
  font-size: 1.7rem;
  border: 3px solid var(--text-primary);
  box-shadow: 4px 4px 0 var(--text-primary);
  transition: all 0.2s ease;
  margin-right: 4rem;
  text-align: center;
}

.credits a {
  color: var(--text-primary);
  text-decoration: none;
}

.credits li:hover {
  color: var(--text-secondary);
  transform: translate(-2px, -2px);
  box-shadow: 0.5rem 0.5rem 0 var(--text-primary);
}

.credits li:active {
  transform: translate(3px, 3px);
  box-shadow: 2px 2px 0 0 var(--text-primary);
}

.tools {
  background-color: var(--color-secondary);
  box-shadow: 0.5rem 0.5rem 0 var(--color-primary);
  border: 3px solid var(--color-primary);
}

.tools h5 {
  font-size: 1.2rem;
  background-color: var(--text-primary);
  color: var(--text-inverse);
  padding: 0.5rem 1rem;
  margin: 1rem;
  width: fit-content;
  transform: rotate(-3deg);
}

/* Tablet */
@media (min-width: 751px) {
  h4 {
    font-size: 2.75rem;
    line-height: 2.2rem;
    max-width: 50%;
  }
  p {
    font-size: 1.7rem;
    font-weight: 300;
  }
  .about-details {
    margin: 2rem 0;
  }
}

/* Desktop */
@media (min-width: 1024px) {
}
