// light theme

$offwhite: #eeeeef;
$lightestgray: #e0ddea;
$lightgray: #ccc7d4;
$mediumgray: #b5b3c2;
$ltblue: #a1d6e6;
$medblue: #8ab6ca;
$graphite: #24283b;

// dark theme 

$dlblack: #0e0f14;
$darkgray: #39424c;
$darkmedgray: #6f7882;
$darkblue: #486c8e;
//ltblue
$ltbluegray: #b9d0da;
$blight: #d7e5ed;