@import "../partials/typography";
@import "../partials/mixins";
@import "../partials/partials";

canvas {
  background-color: $offwhite;
  width: 100vw;
  height: 100vh;
}
.dark-theme canvas {
  background-color: $dlblack;
}

.color {
  position: absolute;
  top: 1rem;
  left: 7rem;
  background-color: $blight;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.toolbar {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5rem;
  max-height: 90vh;
  background-color: #d5e8ec;
  border-radius: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  &__icon {
    max-width: 3rem;
    margin: 0.5rem;
  }
}

.tool {
  display: none;
  &__label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0.5rem;
  }
  &__divider {
    // border-bottom: 1px solid $darkseagreen;
    width: 90%;
  }

  &:checked + &__label {
    -webkit-animation: animation 1000ms linear both;
    animation: animation 1000ms linear both;
    background-color: #b9cfd3;
    border-radius: 1rem;
  }
}

// ----- canvas tools -----
.canvas-tools {
  position: absolute;
  display: flex;
  justify-content: space-between;
  top: 11.5rem;
  left: 7rem;

  width: 17rem;
  &__button {
    background-color: $blight;
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    &:active {
      animation: shrink 100ms;
    }
  }
}

//Google how to keep image static during animation

.nav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #d5e8ec;
  border-radius: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  &__icon {
    max-width: 3rem;
    margin: 0.5rem;
  }
}

.click:active {
  animation: shrink 100ms;
}
