@use 'partials/typography' as *;
@import "partials/mixins";
@import "partials/partials";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Cookie";
  font-weight: normal;
}
