@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Permanent+Marker&display=swap");
@import "./styles/variables.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;

  background: #fdf6e9;
  background-image:
    linear-gradient(rgba(218, 212, 200, 0.3) 0.1em, transparent 0.1em),
    linear-gradient(90deg, rgba(218, 212, 200, 0.3) 0.1em, transparent 0.1em);
  background-size: 2em 2em;
}
