@import "partials/typography";
@import "partials/mixins";
@import "partials/partials";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #5e878b;
  background: linear-gradient(0deg, rgba(94, 135, 139, 1) 0%, rgba(150, 187, 191, 1) 50%, rgba(185, 207, 211, 1) 100%);
}

h4,
p,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: normal;
  color: $graphite;
}
h1,
h2,
h3,
a,
button {
  font-family: "Permanent Marker", cursive;
  font-weight: normal;
  color: $graphite;
}

h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2.5rem;
  font-weight: bold;
}

p {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.6rem;
}

button {
  font-weight: bold;
}
