@import "../../partials/typography";
@import "../../partials/mixins";
@import "../../partials/partials";
@import "../../App";

body {
  background: linear-gradient(
    360deg,
    #e0ddea,
    #e0dfec,
    #dfe0ed,
    #dfe2ee,
    #dfe3f0,
    #dfe5f1,
    #dfe7f2,
    #dfe8f2,
    #dfeaf3,
    #e0ebf4,
    #e0edf4,
    #e1eef5
  );
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  padding: 1rem;
  color: $graphite;
  letter-spacing: 2px;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $offwhite;
  height: 80vh;
  width: 80vw;
  margin-top: 10vh;
  border-radius: 2rem;
  &__logo {
    max-width: 50vw;
  }
  &__button-container {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__canvas {
    padding: 1.5rem;
    width: 30vw;
    font-size: 2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: $darkblue;
    color: $ltbluegray;
    border: none;
    border-radius: 1rem;
    margin: 1rem;
  }
  &__about {
    padding: 0.75rem;
    width: 15vw;
    font-size: 2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    background-color: $ltblue;
    color: $graphite;
    border: none;
    border-radius: 1rem;
    margin: 1rem;
  }
}
