@import "../../styles/variables.css";
@import "../../styles/animations.css";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  padding: 1rem;
  color: var(--color-graphite);
  letter-spacing: 2px;
}

h2 {
  text-align: center;
  z-index: 1;
  font-family: "Permanent Marker", cursive;
}

.home {
  display: flex;
  z-index: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-off-white);
  min-height: 40rem;
  height: 850px;
  width: 1140px;
  border-radius: 2rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.home__graphic {
  position: relative;
}

.home__logo {
  max-width: 50vw;
  z-index: 999;
}

.home__icon {
  position: absolute;
  top: -16rem;
  left: -24rem;
  opacity: 0.6;
  height: 18rem;
  z-index: 0;
  animation: homeSlide1 800ms linear both;
}

.home__icon2 {
  position: absolute;
  bottom: -7rem;
  right: -21rem;
  opacity: 0.5;
  height: 8rem;
  z-index: 0;
  animation: homeSlide2 800ms linear 0.1s both;
}

.home__button-container {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.home__canvas {
  padding: 1rem 2.5rem;
  max-width: 30vw;
  font-size: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: var(--color-dark-sea-green);
  color: var(--color-b-light);
  border: none;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease, transform 0.15s ease;

  &:hover {
    color: var(--color-dark-sea-green);
    background-color: var(--color-lightest-sea-green);
  }

  &:active {
    transform: scale(0.95);
  }
}

.home__about {
  padding: 0.75rem;
  width: 15vw;
  font-size: 2rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: var(--color-light-sea-green);
  color: var(--color-off-white);
  border: none;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: color 0.2s ease, background-color 0.2s ease, transform 0.15s ease;

  &:hover {
    color: var(--color-b-light);
    background-color: var(--color-dark-sea-green);
  }

  &:active {
    transform: scale(0.95);
  }
}
