@use '../../partials/typography' as *;
@import "../../partials/mixins";
@import "../../partials/partials";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

canvas {
  border: solid 1px black;
}
