//sea greens

$lighterseagreen: #b9cfd349;
$lightestseagreen: #b9cfd3;
$lightseagreen: #96bbbf;
$medseagreen: #96bbbf60;
$darkseagreen: #5e878b;

// black
$graphite: #24283b;
$dlblack: #0e0f14;

// white
$offwhite: #eeeeef;
$blight: #d7e5ed;
$ltbluegray: #b9d0da;

// gray
$lightestgray: #e0ddea;
$lightgray: #ccc7d4;
$mediumgray: #b5b3c2;
$darkmedgray: #6f7882;
$darkgray: #39424c;
